body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.degreeSquare{
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #aff4c6;
  border: 2px solid #8cc39e  ;
  display:flex;
  align-items:center;
  justify-content:center
}